* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.header img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.header {
    display: grid;
    grid-column: span 2;
    grid-template-columns: 180px 1fr;
    align-items: center;
    padding: 20px;
    background-color: #016B61;
    color: white;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px;
    gap: 20px;
}

.column {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.column ul {
    list-style-type: none;
    padding: 0;
}