@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Science+Gothic:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Code", monospace;
    background-color: #ffffff;
    color: #333333;
    line-height: 1.6;
}

.header {
    background-color: #016B61;
    color: white;
    text-align: center;
    padding: 18px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    align-self: center;
}

.header h1 {
    font-family: 'Science Gothic', sans-serif;
}

.content {
    padding: 20px 400px;
    margin-top: 50px;
}

.tentang {
    border: 2px solid #016B61;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
}

.tentang h2 {
    margin-bottom: 10px;
}

.judul {
    border-bottom: 2px solid #016B61;
}

.tentang p {
    margin-top: 20px;
}

.galeri {
    margin-top: 50px;
    border: 2px solid #016B61;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
}

.foto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.galeri h2 {
    margin-bottom: 10px;
}

.foto img {
    width: 500px;
    height: 300px;
    border-radius: 15px;
}

.kemampuan {
    margin-top: 50px;
    border: 2px solid #016B61;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
}

.list-kemampuan {
    list-style-type: decimal-leading-zero;
    margin-top: 20px;
    margin-left: 50px;
}

.kemampuan h2 {
    margin-bottom: 10px;
}

.medsos {
    margin-top: 50px;
    border: 2px solid #016B61;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
}

.medsos h2 {
    margin-bottom: 10px;
}

.list-medsos {
    list-style-type: decimal-leading-zero;
    margin-top: 20px;
    margin-left: 50px;
}

.list-medsos a {
    text-decoration: none;
    color: #016B61;
}

.list-medsos a:hover {
    text-decoration: underline;
}

.pendidikan {
    margin-top: 50px;
    border: 2px solid #016B61;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
}

.pendidikan h2 {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #016B61;
    color: white;
}

.hubungi-saya {
    margin-top: 50px;
    border: 2px solid #016B61;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
}

.hubungi-saya h2 {
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #016B61;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    font-size: 16px;
    font-family: 'Fira Code', monospace;
}

.footer {
    background-color: #016B61;
    color: white;
    text-align: center;
    padding: 18px 250px;
    margin-top: 30px;
}