@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Science+Gothic:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Code", monospace;
    background-color: #ececec;
    color: #333333;
    line-height: 1.6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register {
    border: 2px solid #016B61;
    width: 400px;
    height: 550px;
    padding: 50px;
    background-color: white;
    border-radius: 15px;
}

.register h1 {
    text-align: center;
    font-family: 'Science Gothic', sans-serif;
    margin-bottom: 40px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-family: 'Fira Code', monospace;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #016B61;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 25px;
    font-family: 'Fira Code', monospace;
    margin-bottom: 10px;
}

button a {
    color: white;
    text-decoration: none;
}

p {
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
}

p a {
    color: #016B61;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}